<div class="table-container">
    <h4 class="table-title mb-4">Authors</h4>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="show-entries" id="datatable_length">
                <label>Show
                    <select name="datatable_length" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                entries</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            {% for field in fields %}
                                <th>{{ field }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in dataset %}
                        <tr>
                            <th scope="row">1</th>
                            {% for field_key, field in fields %}
                                <td>{{ attribute(record, field_key) }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
